<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> calculator</h1>
    <form method="post">
        {% csrf_token %}
    <label for="num1">Enter Number 1:</label>
    <input type="text" name="num1" placeholder="enter number 1"><br><br>
    <label for="num2">Enter Number 2:</label>
    <input type="text" name="num2" placeholder="enter number 2"><br><br>
    <label for="op">Enter Operation:</label>
    <input type="text" name="op" placeholder="enter Operation">
    <button type="submit">
        submit
    </button>
    </form>
    {% if result %}
    <h1> result :{{result}}</h1>
    {% endif %}
</body>
</html>